    html {
            scroll-behavior: smooth;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
            background-color: rgba(255, 255, 255, 0.565);
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 2rem;
            padding: 1rem;
        }

        .card img {
            width: 100%;
            max-width: 500px;
            border-radius: 8px;
            object-fit: cover;
            transition: all ease 0.3s;
            /* transform: scale(1); */
        }

        /* .card img:hover{
            transform: scale(0.95);
        } */

        .card {
            padding: 1.2rem;
            background-color: rgb(252, 154, 229);
            transition: all ease 0.4s;
            border-radius: 6px;
            box-shadow: 0 10px 8px rgb(255, 150, 167);
            cursor: pointer;
        }

        .card:hover {
            transform: translateY(-8px);
            box-shadow: 0 6px 8px rgb(255, 150, 167);
            background-color: rgb(255, 107, 220);
            color: rgb(240, 239, 239);
        }

        .card h3 {
            font-size: clamp(1.2rem, 1.4rem, 1.3rem);
            text-align: left;
            /* color: rgb(254, 67, 129); */
            color: deeppink;
            line-height: 2;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
        }

        .card p {
            font-family: sans-serif;
            letter-spacing: 1.1px;
            line-height: 1.2;
            font-size: clamp(1rem, 1.1rem, 1.05rem, );
        }

        .card .card-btn {
            /* text-decoration: none; */
            margin-top: clamp(10px, 15px, 20px);
            text-align: right;
        }

        .card .card-btn a {
            text-decoration: none;
            background-color: rgb(245, 88, 206);
            color: aliceblue;
            padding: 10px 12px;
            border-radius: 8px;
            font-size: clamp(1.1rem, 0.9rem, 1.2rem);
            border-top: 2px solid pink;
            border-bottom: 2px solid pink;
            box-shadow: 0 6px 8px rgb(255, 150, 167);
            transition: all ease 0.3s;
            border-left: 2px solid pink;
            border-right: 2px solid pink;
        }

        .card .card-btn a:hover {
            border-top: 2px solid rgb(255, 112, 188);
            border-bottom: 2px solid rgb(255, 112, 188);
            border-right: 2px solid rgb(255, 112, 188);
            border-left: 2px solid rgb(255, 112, 188);
            background-color: rgb(176, 2, 132);
        }

        .heading {
            text-align: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            /* font-size: 3rem; */
        }

        .heading h1 {
            font-size: 3rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            /* margin-top: 10px; */
        }

        .heading p {
            font-size: 1.2rem;
            line-height: 1.3;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(63, 50, 50);
        }

        .heading span {
            color: deeppink;
        }
        .heading .project-badge{
            font-size: 1.2rem;
            background-color: black;
            padding: 10px 14px;
            border-radius:15px;
            border: 1px solid salmon;
        }
